.vscode/
.vs/

build/
Build/
docs/
out/
bin/
lib/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestFile.cmake
install_manifest.txt

*.obj
*.o
*.lo
*.a
*.lib
*.dll
*.exe
*.out
*.so
*.dylib
*.pdb

*.log

*.user
*.suo
*.userosscache
*.sln.docstates