.vscode/
.vs/

frontend/src/wasm/
build/
build-wasm/
build-tests/
docs/
out/
bin/
lib/
node_modules/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestFile.cmake
install_manifest.txt

*.obj
*.o
*.lo
*.a
*.lib
*.dll
*.exe
*.out
*.so
*.dylib
*.pdb

*.log

*.user
*.suo
*.userosscache
*.sln.docstates